<div class='row'>
  <div class='col-md-4'></div>
  <div class='col-md-4'>
    <form action='/questions/new' method='post'>
      <div class='form-group<% unless question.errors[:text].empty? %> has-feedback has-error<% end %>'>
        <label class='control-label'>Question</label>
        <input type='text' name='question[text]' class='form-control' value='<%= question.text %>' <% unless question.errors[:text].empty? %>aria-describedby='questionTextInvalid' aria-invalid='true'<% end %>placeholder='What question would you like to poll?' autofocus />
        <% unless question.errors[:text].empty? %>
          <span id='questionTextInvalid'><%= question.errors[:text].join('; ') %></span>
        <% end %>
      </div>

      <% question.answers.each do |answer| %>
        <input type='hidden' name='question[answer_attributes][]id' value='<%= answer.id %>' />
        <div class='form-group'>
          <label class='control-label'>Answer</label>
          <input type='text' name='question[answer_attributes][]text' class='form-control' value='<%= answer.text %>' placeholder='Possible poll answer' />
        </div>
      <% end %>

      <% question.voters.each do |voter| %>
        <input type='hidden' name='question[voter_attributes][]id' value='<%= voter.id %>' />
        <div class='form-group'>
          <label class='control-label'>Voter Email</label>
          <input type='text' name='question[voter_attributes][]email' class='form-control' value='<%= voter.email %>' placeholder='Email of a voter' />
        </div>
      <% end %>

      <div class='form-group'>
        <button class='btn btn-lg btn-primary btn-block' type='submit'>Create Question</button>
      </div>
    </form>
  </div>
  <div class='col-md-4'></div>
</div>
