<h3><%= question.text %><% unless question.released? %> <em>(Voting isn't open yet)</em><% end %><% if question.closed? %> <em>(Voting is closed)</em><% end %><% if logged_in? %><% if !question.released? %> <a href='/questions/<%= question.id %>/release'>[ Release ]</a><% end %><% if !question.closed? %> <a href='/questions/<%= question.id %>/close'>[ Close ]</a><% end %><% end %></h3>
<h4>Voting Progress: <%= question.cast_voters %> / <%= question.possible_voters %> (<%= '%0.2f' % question.percentage_cast %>%)</h4>
<hr/>

<div class="row">
  <% if question.closed? %>
  <div class="col-md-6">
    <h3>Current Results:</h3>
    <table class='table'>
      <thead>
        <th>Answer</th>
        <th>Votes</th>
      </thead>
      <tbody>
      <% question.vote_breakdown.each do |answer, count| %>
        <tr>
          <td><%= answer.text %></td>
          <td><%= count %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
  <% if logged_in? || question.closed? %>
  <div class="col-md-6">
    <h3>Voter Breakdown</h3>
    <table class='table'>
      <thead>
        <th>Email</th>
        <th>Voted?</th>
      </thead>
      <tbody>
      <% question.voters.each do |voter| %>
        <tr>
          <td><%= voter.email %></td>
          <td><%= voter.vote_cast? ? 'Yes' : 'No'  %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
</div>
