<h3><%= question.text %><% unless question.released? %> <em>(Voting isn't open yet)</em><% end %><% if question.closed? %> <em>(Voting is closed)</em><% end %><% if logged_in? %><% if !question.released? %> <a href='/questions/<%= question.id %>/release'>[ Release ]</a><% end %><% if !question.closed? && question.released? %> <a href='/questions/<%= question.id %>/close'>[ Close ]</a><% end %><% end %></h3>
<h4>Voting Progress: <%= question.cast_voters %> / <%= question.possible_voters %> (<%= '%0.2f' % question.percentage_cast %>%)</h4>
<hr/>

<% if logged_in? && !question.released? %>
  <div class="row">
    <div class="col-md-6">
      <h3>Add a Voter:</h3>
      <form class="form-inline" action="/questions/<%= question.id %>/new_voter" method="post">
        <input type="text" name="voter[email]" class="input-small" placeholder="Email" />
        <button type="submit" class="btn">Add</button>
      </form>
    </div>
    <div class="col-md-6">
      <h3>Add an Answer:</h3>
      <form class="form-inline" action="/questions/<%= question.id %>/new_answer" method="post">
        <input type="text" name="answer[text]" class="input-small" placeholder="Answer" />
        <button type="submit" class="btn">Add</button>
      </form>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6">
    <h3>Responses:</h3>
    <table class='table'>
      <thead>
        <th>Answer</th>
        <% if question.closed? %><th>Votes</th><% end %>
      </thead>
      <tbody>
      <% question.vote_breakdown.each do |answer, count| %>
        <tr>
          <td><%= answer.text %></td>
          <% if question.closed? %><td><%= count %></td><% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <% if logged_in? || question.closed? %>
  <div class="col-md-6">
    <h3>Voter Breakdown</h3>
    <table class='table'>
      <thead>
        <th>Email</th>
        <th>Voted?</th>
      </thead>
      <tbody>
      <% question.voters.each do |voter| %>
        <tr>
          <td><%= logged_in? ? voter.email : voter.censored_email %></td>
          <td><%= voter.vote_cast? ? 'Yes' : 'No'  %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
</div>
